.plames-part-label {

	border-left: 0px solid lightgrey;
	border-top: 0px solid lightgrey;
	border-right: 0px solid lightgrey;
	border-bottom: 4px solid #BAE1FF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

	background: white;

	margin-right: 1vw;

	min-width: 100px;
	min-height: 25px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 18;
	font-weight: 500;
	color: #7892A3;

	cursor: pointer;

	transition-duration: 0.3s;

	user-select: none;
}

.plames-part-label.selected {

	transition-duration: 0.3s;

	border-bottom: 4px solid #7fff00;
}

.plames-part-label > p {

	margin: 5px;
	margin-top: 6px;
	margin-right: 7px;
	vertical-align: center;

	cursor: pointer;
}

.plames-part-label > img {

	margin: 5px;
	margin-bottom: 7px;
	margin-right: 0px;
	margin-left: 7px;

	size: 20px, 20px;
	
	min-height: 20px;
	min-width: 20px;

	max-height: 20px;
	max-width: 20px;

	cursor: pointer;
}

.part-context-menu {

	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
 	background: #FFF;
 	color: #333;
	border-radius: 5px;
	padding: 0;

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 16;
	font-weight: 500;
	color: #7892A3;
}

.part-context-menu > li {

	padding: 8px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.part-context-menu > li > img {

	margin: 0px;
	margin-right: 8px;
	
	size: 16px, 16px;
	
	min-height: 16px;
	min-width: 16px;

	max-height: 16px;
	max-width: 16px;

	cursor: pointer;
}

.part-context-menu > li > p {

	margin: 0px;
	vertical-align: center;

	cursor: pointer;
}

.part-context-menu > li:hover {

	background-color: #F2F5F7;
}