.site-module-container {

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	padding: 15px;
}

.site-module-container.horizontal {

	display: flex;
	flex-direction: row;
}

.site-module-container.vertical {

	display: flex;
	flex-direction: column;
}


.site-module-container > .sub-module-container {

	position: relative;
	border: 0px solid lightgrey;
}

.accent-button {

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 18;
	font-weight: 550;
	color: white;
	letter-spacing: 0.125em;

	background-color: #BAE1FF;
	outline-width: 0;
	border: 4px solid #9EBFD8;

	padding: 7px 12px 5px 12px;

	transition-duration: 0.3s;
}

.accent-button:hover {

	color: white;
	background-color: #B0D5F2;
	border-color: #95B3C9;
	cursor: pointer; 

	transition-duration: 0.3s;
}

#modules-steps-area {

	flex-grow: 1;
	flex-shrink: 1;

	margin: 15px;
	flex-basis: 40vw;
}

.build-log-container {

	position: relative;
	display: block;

	overflow-y: auto;

	padding: 15px;

	flex-basis: 100%;
	flex-grow: 100000;
}

.build-log {

	position: relative;
	display: block;

	margin: 0px;

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 16;
	line-height: 1.5;
	color: #7892A3;

	overflow-wrap: break-word;
	word-wrap: break-word;
}

.build-log.wait {

	text-align: center;
	vertical-align: center;
	color: silver;
}

.wizard-content-container {

	position: relative;

	display: flex;
	flex-direction: column;
	opacity: 1;

	flex: 3.5;
	min-height: 0;

	transition: opacity  0.5s, ease;
}

.wizard-content-container.hidden {

	display: none;
	opacity: 0;

	transition: opacity  0.5s, ease;
}