<html>
    
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <style>

            @import url("../resources/assembler/common/common.css");
            @import url("../resources/assembler/wizard/css/wizard.css");
            @import url("../resources/assembler/wizard/css/plames-part-label.css");
            @import url("../resources/assembler/wizard/css/plames-parts-area.css");
            @import url("../resources/assembler/wizard/css/plames-modules-search.css");

        </style>
    
    </head>

    <body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <div id="react-body"></div>

        <script src="../resources/assembler/generated/wizard.bundle.js"></script>
        
    </body>

</html>