<html>

    <style>

        @import url("../resources/common/common.css");
        @import url("../resources/wizard/css/plames-part-label.css");
        @import url("../resources/wizard/css/plames-parts-area.css");

    </style>

    <body onload="init()">

        <script> var exports = {}; </script>
        
        <script src="../resources/wizard/scripts/wizard.js"></script>

        <div id="bootloaders-list" class="plames-parts-area" style="border: 1px solid red;"><!-- LOAD BY JQUERY--></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    </body>

</html>